
<div class="container-fluid">	
	<div class="row">
		<div class="col-md-2">
			<p>
				Regular Text
			</p>
			<p class="bold">
				Bold Text
			</p>
			<p class="italic">
				Italic Text
			</p>
		</div>
		<div class="col-md-10">
			<div class="main-image">
			</div>
			<article class="main-article">
				<h2>Welcome</h2>
				<p>Thank you for visiting my site</p>
				<p>And some other stuff that I will write later.</p>
			</article>
		</div>
	</div>
	
	<div class="row">
		<h2>Blog</h2>
		<div class="col-md-12">
		</div>
	</div>

	<div class="row">
		<h2>Portfolio</h2>
		<div class="col-md-4">
			<p>Ruby on Rails</p>
			<%= link_to image_tag("rails_logo.png"), portfolio_path, class: "thumbnail" %>
		</div>
		<div class="col-md-4">
			<p>JavaScript</p>
			<%= link_to image_tag("javascript_logo.png"), portfolio_path, class: "thumbnail" %>
		</div>
		<div class="col-md-4">
			<p>Wordpress</p>
			<%= link_to image_tag("wordpress_logo.png"), portfolio_path, class: "thumbnail" %>
    		</a>
		</div>
	</div>
</div>


