<div class="container">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>Portfolio Projects</h2>
		</div>
	</div>
	<div class="row">
			<div class="col-md-3">
				<div class="thumbnail thumbnail-portfolio">
      				<%= image_tag("rails_logo.png", class: "thumbnail") %>
			      	<div class="caption">
			        	<h3>Attainist</h3>
			        	<p>
			        		Rails application which aids users in attaining new skills.
			        		Provides a simple, clean, interface which allows the user to track daily progress on
			        		a number of goals.
			        <p><a href="https://attainist.herokuapp.com/" class="btn btn-primary" role="button">See More</a></p>
			      </div>
			    </div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail thumbnail-portfolio">
      				<%= image_tag("python_logo.png", class: "thumbnail") %>
			      	<div class="caption">
			        	<h3>Python AI</h3>
			        	<p>
			        		Python implementations of simple game playing artificial intelligence algorithms. Set up and play the Zombie
			        		apocalpyse script ; ). 
			        	</p>
			        <p><a href="https://github.com/jmknoll/python-ai" class="btn btn-primary" role="button">See More</a></p>
			      </div>
			    </div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail thumbnail-portfolio">
      				<%= image_tag("javascript_logo.png", class: "thumbnail") %>
			      	<div class="caption">
			        	<h3>Dashboard</h3>
			        	<p>
			        		Dashboard is a data visualization dashboard built for students to track progress in enrichment classes
			        		or while preparing for major tests.
			        	</p>
			        	<p><em>Currently under revision</em></p>
			        <p><a href="#" class="btn btn-primary" role="button">See More</a></p>
			      </div>
			    </div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail thumbnail-portfolio">
      				<%= image_tag("rails_logo.png", class: "thumbnail") %>
			      	<div class="caption">
			        	<h3>MCL101</h3>
			        	<p>
			        		Mandarin Chinese Lessons 101 is an online, interactive, introductory Chinese language textbook/program. 
			        		Functionality is depracated, but I'm happy with how the design turned out. 
			        	</p>
			        <p><a href="https://radiant-sea-9152.herokuapp.com/" class="btn btn-primary" role="button">See More</a></p>
			      </div>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
</div>
</div>