<nav class="navbar navbar-default footer">
  <div class="container-fluid">
    <div class="pull-left">Copyright 2015 OWL Laboratories</div>
	<div class="pull-right"><a href="#">Contact</a>
  </div>
</nav>
