<nav class="navbar navbar-default footer">
   <div class="container-fluid">
    <div class="pull-left"><p class="footer-text">Copyright 2015 OWL Laboratories</p></div>
	<div class="pull-right"><a class="footer-text" href="mailto:jameson.knoll@gmail.com">Contact</a></div>
  </div>
</nav>
